/* Default styles */
@font-face {
  font-family: "Monserat";
  src: url("../font/Montserrat-Regular.ttf");
}
:root {
  --header-color: #444444;
  --color2: #c4344f;
  --font: "Monserat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: var(--font);
}
body {
  line-height: 1.4;
}
img {
  width: 100% !important;
}
section {
  padding-top: 4.5rem !important  ;
}

/* Section public styles */
.section-top_text .first {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 0.8rem;
  padding: 0.3rem 1.2rem;
  margin: 6px;
  background-color: #fdeff2;
  display: inline-block;
  border-radius: 1rem;
  text-transform: uppercase;
  color: var(--color2);
}
.section-top_text .main-title {
  font-weight: bold;
  letter-spacing: 1px;
}
.section-top_text .main-title span {
  color: var(--color2);
}
/* //Section public styles */

/* Header styles */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../img/hero-bg.jpg") center/cover no-repeat;
  min-height: 100vh;
}
/* //Header styles */
/* Navbar styles */
.navbar {
  z-index: 999;
  transition: all 0.4s ease-in-out;
}
.navbar-nav .nav-link {
  color: #fff;
  margin-left: 0.5rem;
  font-size: 1.1rem;
  font-weight: bolder;
  position: relative;
  transition: all 0.4s ease;
}
.nav-link:hover {
  color: #fff !important;
}
.nav-link:hover::before {
  width: 100%;
}
.nav-link::before {
  content: " ";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--color2);
  transition: all 0.4s ease;
}
.navbar-brand {
  font-size: 2rem !important;
  font-weight: 900;
}
.navbar.active {
  background-color: #000 !important;
}
/* //Navbar styles */
/* Intro section */
.intro {
  padding-top: 10rem !important;
}
.top-text {
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
}
.main-heading {
  font-size: 3rem;
  letter-spacing: 2px;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
}
.support-par {
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.intro .btn a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.5rem 1.2rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  transition: all 0.2s ease-in;
}
.intro .btn a:hover {
  background-color: var(--color2);
  border: none;
}
/* //Intro section */
/* About secttion */
.about .btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--color2);
  padding: 0.5rem 1.2rem;
  border: 1px solid var(--color2);
  border-radius: 2rem;
  transition: all 0.2s ease-in;
}
.about .btn a:hover {
  color: #fff;
  background-color: var(--color2);
  border: none;
}
.about ul {
  list-style: url("../img/60727.png");
}
/* //About secttion */

/* Servicses section */
.column_ss {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in;
  position: relative;
}
.column_ss::after {
  content: " ";
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color2);
  transition: all 0.3s ease-out;
  border-radius: 1.2rem;
}
.column_ss:hover::after {
  height: 100%;
}
.column_ss:hover .icon i,
.column_ss:hover .text {
  color: #fff !important;
}
.icon i {
  color: crimson;
}
.column_ss .icon,
.column_ss .icon i,
.column_ss .text {
  z-index: 3;
}
.img_ss {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
}
.column_ss2 .text {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.column_ss2:hover .text {
  color: crimson;
}
/* //Servicses section */
/* Cta section */
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../img/cta-bg.jpg") center/cover no-repeat;
}
.cta .btn a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.5rem 1.2rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  transition: all 0.2s ease-in;
}
.cta .btn a:hover {
  background-color: var(--color2);
  border: none;
}
/* //Cta section */

/* Portfolio section */
.filter-item {
  background-color: #ede9e9;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.filter-item.active {
  background-color: var(--color2);
  color: #fff;
}
.filter-item:hover {
  background-color: var(--color2);
  color: #fff;
}
.column_po {
  position: relative;
  overflow-y: hidden;
  height: 300px;
}
.column_po .design-img {
  transition: all 0.4s ease-in;
  height: 100%;
  position: relative;
}
.column_po .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color2);
  color: #fff;
  height: 50px;
  transform: translateY(100%);
  transition: all 0.4s ease-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.column_po .text i {
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.column_po:hover .text {
  transform: translateY(0%);
}
.column_po:hover .design-img {
  transform: translateY(-5%);
}
.column_po2 {
  background-color: #f9f9f9 !important;
}
.column_po2 .title {
  color: crimson;
}
.column_po2 .text {
  font-size: 0.85rem;
  padding: 0 0;
}
.column_po2 sup {
  color: var(--color2);
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.column_po2 span {
  color: var(--color2);
  font-size: 2.2rem;
}
.column_po2 .price,
.delete {
  color: #cdbdc5;
}
.column_po2 .btn a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color2);
  padding: 0.5rem 1.2rem;
  border: 1px solid var(--color2);
  border-radius: 2rem;
  transition: all 0.2s ease-in;
}
.column_po2 .btn a:hover {
  background-color: var(--color2);
  color: #fff;
  border: none;
}
.column_po2.active {
  border: 3px solid var(--color2);
}
.column_po2 .first {
  background-color: #fdeff2;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
}
.active_btn {
  border: none;
}
.column_po2 .active_btn a {
  background-color: var(--color2);
  color: #fff !important;
  border-radius: 2rem;
  transition: all 0.2s ease-in;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  font-size: 1.2rem;
}
.column_po2 .active_btn a:hover {
  opacity: 0.8;
}
/* //Portfolio section */
/* Team section */
.column_tm .design-img {
  position: relative;
  cursor: pointer;
}
.column_tm .design-img .icons {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #ffffffb4;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.column_tm .design-img:hover .icons {
  opacity: 1;
}
.column_tm .design-img .icons i {
  font-size: 1.2rem;
}
.column_tm .pro {
  font-size: 0.8rem;
  color: #aaa;
}
/* //Team section */
/* Contact section */
.column_ct .icon i {
  color: var(--color2);
  background-color: #fdeff2;
  border-radius: 50%;
  padding: 0.8rem 0.9rem;
  transition: all 0.3s ease-in-out;
}
.row_ct {
  cursor: pointer;
}
.column_ct .row_ct:hover .icon i {
  background-color: var(--color2);
  color: #fff;
}
.column_ct .title {
  font-weight: bold;
}
.column_ct .addition {
  color: #a06a84;
}
.column_ct .btn a {
  background-color: var(--color2);
  color: #fff !important;
  border-radius: 2rem;
  transition: all 0.2s ease-in;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  font-size: 1.2rem;
}
.column_ct .btn a:hover {
  opacity: 0.8;
}
/* //Contact section */
/* Footer */
.footer p {
  color: #a06a84;
  font-size: 0.9rem;
  line-height: 1.6;
}
.footer p b {
  color: #222;
}
.footer ul li a {
  color: #a06a84;
  text-decoration: none;
}
.footer h5 {
  color: var(--color2);
}
.row_foo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row_foo .text {
  line-height: 0.9;
  color: #a06a84;
  font-size: 0.9rem;
}
.row_foo .text b {
  color: #222;
}
.row_foo .icon i {
  color: #fff;
  background-color: var(--color2);
  padding: 0.6rem 0.8rem;
  border-radius: 50%;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.row_foo .icon i:hover {
  opacity: 1;
}
/* //Footer */
/* Home btn */
.home-btn {
  background-color: var(--color2);
  padding: 0.6rem 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  transform: translateX(200%);
}
.home-btn a {
  text-decoration: none;
  color: #fff;
}
.home-btn.active {
  transform: translateX(0%);
}
.home-btn:hover {
  opacity: 0.9;
}
/* //Home btn */
/* Media */
@media screen and (max-width: 1000px) {
  .navbar {
    background-color: #212529;
  }
  .about .btn {
    text-align: center;
  }
  .column_ss {
    height: 250px;
    margin: 1rem 0;
  }
  .column_ss2 {
    margin: 1rem 0;
  }
  .column_po {
    height: 250px;
    margin: 1rem 0;
  }
}
